<script>
  import { hasImage } from "stores/index.js";
  import Controls from "../Modules/Controls/Controls.svelte";
  import Header from "../Modules/Header/Header.svelte";
  import Stage from "../Modules/Stage/Stage.svelte";
</script>

<style src="style.scss">
</style>

<main>
  <Header />
  <Stage />
  {#if $hasImage}
    <Controls />
  {/if}
</main>
