<script>
  import {
    glitchSeed,
    glitchQuality,
    glitchAmount,
    glitchIterations,
  } from "stores/index.js";

  const CENT = 100;
  $: imageScale = CENT;
  const handleScale = (event) => {
    imageScale = event.target.value;
    document.body.style.setProperty("--stage-image-scale", imageScale / CENT);
  };

  const handleSeed = (event) => {
    glitchSeed.set(Number(event.target.value));
  };

  const handleQuality = (event) => {
    glitchQuality.set(Number(event.target.value));
  };

  const handleAmount = (event) => {
    glitchAmount.set(Number(event.target.value));
  };

  const handleIterations = (event) => {
    glitchIterations.set(Number(event.target.value));
  };
</script>

<style src="style.scss">
</style>

<section class="control-panel">
  <div class="form-control">
    <label for="scaleImage">Scale:</label>
    <input
      id="scaleImage"
      type="range"
      min="10"
      max="200"
      bind:value={imageScale}
      on:input={handleScale} />
  </div>
  <div class="form-control">
    <label for="glitchSeed">Seed:</label>
    <input
      id="glitchSeed"
      type="range"
      min="1"
      max="99"
      value={$glitchSeed}
      on:input={handleSeed} />
  </div>
  <div class="form-control">
    <label for="glitchQuality">Quality:</label>
    <input
      id="glitchQuality"
      type="range"
      min="10"
      max="99"
      value={$glitchQuality}
      on:input={handleQuality} />
  </div>
  <div class="form-control">
    <label for="glitchAmount">Amount:</label>
    <input
      id="glitchAmount"
      type="range"
      min="0"
      max="99"
      value={$glitchAmount}
      on:input={handleAmount} />
  </div>
  <div class="form-control">
    <label for="glitchIterations">Iterations:</label>
    <input
      id="glitchIterations"
      type="range"
      min="0"
      max="99"
      value={$glitchIterations}
      on:input={handleIterations} />
  </div>
</section>
