.control-panel {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  position: absolute;
  width: 50%;
  left: 50%;
  bottom: 5em;
  min-height: 10em;
  transform: translate3d(-50%, 0, 0);
  padding: 0.5rem;
  z-index: var(--z-index-highest);
}

.form-control {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 1em;

  > label {
    min-width: 24%;
    text-align: left;
  }

  > input {
    margin: 0;
    width: 100%;

    -webkit-appearance: none;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border: 0 none;
    padding: 0;
    border-radius: 2px;

    &:hover {
      opacity: 1;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 0.5rem;
      height: 0.5rem;
      background: var(--color-primary);
      border-radius: 0.5rem;
    }

    &::-moz-range-thumb {
      width: 0.5rem;
      height: 0.5rem;
      background: var(--color-primary);
    }
  }
}
