<script>
  import * as gc from "glitch-canvas";
  import {
    hasImage,
    glitchSeed,
    glitchQuality,
    glitchAmount,
    glitchIterations,
  } from "stores/index.js";
  import SVGArrowUp from "./assets/svg-arrow-up.svelte";

  const glitch = gc.default;

  /**
   * Image Upload
   */
  let originalImage = "";
  const handleUpload = (event) => {
    const file = event.target.files[0];
    if (file) {
      const image = new Image();
      image.onload = (event) => glitchify(event.target);
      image.src = URL.createObjectURL(file);
      originalImage = image;
      hasImage.set(true);
    }
  };

  /**
   * Glitchify with Tool
   */
  let canvasReady = false;
  const glitchify = async (target) => {
    // TODO: Speed up render via WebWorker
    const glitchImageData = await glitch({
      seed: Number($glitchSeed),
      quality: Number($glitchQuality),
      amount: Number($glitchAmount),
      iterations: Number($glitchIterations),
    })
      .fromImage(target)
      .toImageData();

    const canvas = document.getElementById("glitchCanvas");
    if (canvas) {
      canvas.width = target.naturalWidth;
      canvas.height = target.naturalHeight;
      canvas.getContext("2d").putImageData(glitchImageData, 0, 0);
      canvasReady = true;
    }
  };

  $: if (originalImage && canvasReady) {
    if ($glitchSeed || $glitchQuality || $glitchAmount || $glitchIterations) {
      glitchify(originalImage);
    }
  }

  $: prevPosition = {
    x: 0,
    y: 0,
  };
  const handleDragStart = (event) => {
    prevPosition = {
      x: event.clientX,
      y: event.clientY,
    };
    window.addEventListener("mousemove", handleDrag);
    window.addEventListener("mouseup", handleDragEnd);
  };
  const handleDrag = (event) => {
    event.preventDefault();

    const deltaX = event.clientX - prevPosition.x;
    const deltaY = event.clientY - prevPosition.y;
    document.body.style.setProperty("--stage-image-pos-x", `${deltaX}px`);
    document.body.style.setProperty("--stage-image-pos-y", `${deltaY}px`);
  };
  const handleDragEnd = () => {
    window.removeEventListener("mousemove", handleDrag);
    window.removeEventListener("mouseup", handleDragEnd);
  };
</script>

<style src="style.scss">
</style>

<section class="upload-container">
  <div class="upload-untitled-bg" />
  <div class="upload-area" class:hidden={$hasImage}>
    <button class="upload-btn">
      <SVGArrowUp />
      Upload
    </button>
    <input type="file" class="upload-input" on:change={handleUpload} />
  </div>
  {#if $hasImage}
    <div class="upload-image-container">
      <div class="glitch-image-container" on:mousedown={handleDragStart}>
        <canvas id="glitchCanvas" class="upload-canvas" />
      </div>
    </div>
  {/if}
</section>
