.upload-container {
  position: relative;
  z-index: 1;
}

.upload-untitled-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      45deg,
      var(--bg-color-checked) 25%,
      transparent 25%,
      transparent 75%,
      var(--bg-color-checked) 75%,
      var(--bg-color-checked)
    ),
    linear-gradient(
      45deg,
      var(--bg-color-checked) 25%,
      transparent 25%,
      transparent 75%,
      var(--bg-color-checked) 75%,
      var(--bg-color-checked)
    );
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  z-index: -1;
}

.upload-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px dashed #888;
  background-color: #fff;
  height: 50vh;
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

.upload-btn {
  display: flex;
  border: 1px solid;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: #fff;
  background-color: var(--color-primary);
}

.upload-input {
  opacity: 0;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
}

.upload-image-container {
  display: flex;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.glitch-image-container {
  transition: transform 0.1s;
}

.upload-image,
.upload-canvas {
  transform: translate3d(var(--stage-image-pos-x), var(--stage-image-pos-y), 0)
    scale3d(var(--stage-image-scale), var(--stage-image-scale), 1);
}

.upload-image {
  max-width: 100%;
  max-height: 100%;
}
